body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
}
main {
    flex: 1;
  }
.index-header {
    color: white;
}
.index-background {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@media screen and (min-width:768px) {
    .index-main {
        border: none;
        margin: 20px auto;
        width: 50%;
    }
}
@media screen and (max-width:767px) {
    .index-main {
        border: none;
        margin: 20px auto;
    }
}
.index-main {
    border: none;
    margin: 20px auto;
}
.index-nav {
    border: none;
}
.nav-link:hover {
    border: none;
    background-color: rgb(40, 226, 87);
}
.index-profile {
    margin: 0 auto 20px;
    border: none;
}
.index-profile-photo {
    text-align : center;
    position: relative;
}
.index-kanon {
    height:200px;
    width:200px;
    margin: 5 auto;
}
.index-twitter {
    background: url('../images/twitter.svg') center no-repeat;
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
}
.index-twitter:hover {
    background-color: deepskyblue;
    transform: scale(1.2, 1.2);
  }
.index-footer {
    color: white;
}
